@using Microsoft.AspNet.Hosting;
@inject IHostingEnvironment env
@{
    
    ViewBag.Title = env.EnvironmentName;
}

<div class="class1">This is the first div.</div>
<div class="class2">This is the 2nd div.</div>
